
h2, h3, footer {
	margin-left: 2em;
	font-family: 'Oswald', sans-serif;
}

.card {
	border-style: solid;
    border-color: red;
    border-width: 5px;
}

.card:nth-of-type(even) {
	background-color: yellow;
}

.card:nth-of-type(odd) {
	background-color: lightblue;
}



.images {
	margin-left: 2em;
	width: 500px;
}


